# macOS
.DS_Store

# env files
.env
client/.env
backend/.env
backend/.env.example


# dependencies
node_modules
client/node_modules

# build output
client/dist
backend/target

# local database files
backend/data/*.mv.db
backend/data/*.trace.db
